@import url(./fonts.css);

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: IranYekan;
  direction: rtl;
  cursor: default;
}
a {
  text-decoration: none;
  color: #063468;
  cursor: pointer;
}
body {
  background-color: rgb(255, 255, 255);
  /* overflow: scroll; */
  /* padding: 70px 7vw; */
  width: 100vw;
  height: 100vh;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(../images/background_color/blue_shadow1.svg);
}
#test {
  /* position: absolute; */
  /* width:100vw; */
  /* height: 100vh; */
}
#nav-option-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  padding: 0px 7vw;
  /* background-color: aqua; */
}
.container_nav_logo {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}
.container_nav_logo div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0px 0px 0px 80px; */
  padding: 0px 0px 0px 3vw;
}
.container_nav_logo .logo_nav:first {
  padding: none !important;
}
.logo_nav {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 6px;
  background-repeat: no-repeat;
}

/* svg log nav option */
.option_segmento_logo {
  background-image: url(../images/nav/option_segmento.svg);
}
.course_video_logo {
  background-image: url(../images/nav/course_video.svg);
}
.diamond_price_logo {
  background-image: url(../images/nav/diamond_price.svg);
}
.cookie_communicate_logo {
  background-image: url(../images/nav/cookie_communicate.svg);
}

/* btn style*/
.btn-style {
  width: 170px;
  /* height: 40px;*/
  height: 50px;
  background-color: rgba(10, 101, 205, 1);
  /* font-size: 14px; */
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  /* padding:40px 110px ; */
  display: flex;
    /* display: inline-block; */
    /* text-align: center; */
    align-items: center;
    justify-content: center;
}

/* main form section */
#main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 85vh;
  width: 100vw;
  padding: 0px 7vw;
}

/* picture form */
#side-picture-form {
  text-align: center;
  /* background-color: aqua; */
}
#side-picture-form p {
  padding: 20px 0px;
}

/* picture form login */
.picture_form_login{
  width: 537px;
  height: 531px;

}
.picture_form_login img:first-child{
height: 20%;
float: right;
}
.picture_form_login img:last-child{
  width: 100%;
  height: 80%;

}

.picture_form {
  /* width: 337px;
  height: 331px; */
  width: 537px;
  height: 531px;
}

/* picture partner companies picture form */
.partner_companies_picture {
  padding: 0px 10px;
  width: 105.06px;
  height: 71.84px;
}

/* FORM REGISTER*/
#register-form {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  flex-direction: column;
  padding: 15vh 0px;
  width: 40vw;
}

input[type="text"]:focus {
  outline: none;
}
input[type="text"] {
  font: 15px/24px "Lato", Arial, sans-serif;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  z-index: 2;
  border-radius: 3px;
  font-size: 25px;
  padding: 15px 15px;
  cursor:text;
}
.col-3 {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 40px;
  position: relative;
  background-color: white;
}
.effect-22 {
  border: 0;
  padding: 7px 15px;
  /* border: 1px solid #ccc; */
  position: relative;
  background: transparent;
  font-size: 16px;
  color: #001f43;
  /* z-index: -2; */
  /* width: 100%; */
}
.effect-22 ~ .focus-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: transparent;
  transition: 0.4s;
  z-index: -1;
}
.effect-22:focus ~ .focus-bg,
.has-content.effect-22 ~ .focus-bg {
  transition: 0.4s;
  width: 100%;
  background-color: #ededed;
}
.effect-22 ~ label {
  position: absolute;
  right: 14px;
  width: 100%;
  top: 15px;
  /* color: #aaa; */
  /* color: #001f437c; */
  transition: 0.3s;
  z-index: 1;
  letter-spacing: 0.5px;
  font-size: 1em;
  font-weight: 400;
}
.effect-22:focus ~ label,
.has-content.effect-22 ~ label {
  /* top: -18px; */
  top: -30px;
  right: 5;
  font-size: 14px;
  /* color: #001f437c; */
  /* color: #333; */
  transition: 0.3s;
}
.effect-22:focus {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

#register-form .container_password_input {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#register-form .container_password_input div {
  width: 35% !important;
}

/* btn acount form */
.footer_form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn_acount_form {
  width: 140px;
  height: 40px;
  font-size: 14px;
  border: none;
  border-radius: 9px;
}
.btn_register {
  box-sizing: content-box;
  color: white;
  background-color: #0a65cd;
}
.btn_login_google {
  text-align: right;
  color: black;
  border: 1px solid #0a65cd;
  background-image: url(../images/picture_form/google_logo.svg);
  background-repeat: no-repeat;
  background-position: 10% center;
  padding: 0px 10px;
  box-sizing: border-box;
  margin-right: 20px;
}

.footer_form a,
#verify-form a {
  color: #001f43;
  text-decoration: underline;
  text-underline-position: under;
}

/* VERIFY EMAIL FORM */
#verify-form {
  position: relative;
  text-align: center;
  width: 100vw;
  padding: 0px 20vw;
  height: 100%;
}
#verify-form p {
  font-size: 18px;
  padding: 10vh 0px;
}
#verify-form .verify_email_section {
  box-sizing: content-box;
}
#verify-form .verify_email_section span {
  font-size: 14px;
  /* padding: 50px 0px; */
}
.container_number {
  padding: 25px 0px; /* padding: 18px 0px; */
}
.container_number input[type="number"] {
  text-align: center;
  height: 70px;
  width: 70px;
  /* height: 50px;
  width: 50px; */
  margin: 0px 10px;
  border: none;
  font-size: 30px;
  padding: 5px;
  border-radius: 3px;
  cursor: text;
}

/* remove increment decrement input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container_number input[type="number"]:focus {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
}

#verify-form .verify_email_section div:last-of-type {
  position: relative;
  width: 100%;
  text-align: center;
}
#verify-form .verify_email_section button {
  width: 170px;
  height: 50px;
  margin: auto;
  clear: left;
}
#verify-form .verify_email_section a {
  position: absolute;
  top: 0px;
  left: 50px;
  /* float: left; */
  /* background-color: #8398b1; */
}
#verify-form .footer_icon_suport {
  position: absolute;
  /* margin: auto; */
  width: 46vw;
  /* text-align: center; */
  bottom: 30px;
  /* margin: auto; */
}
#verify-form .footer_icon_suport img {
  /* position: absolute; */
  /* bottom: 10px; */
  width: 27px;
  height: 27px;
  margin: 5px;
}

/* FORGOT PASSWORD FORM */

#forgot-password {
  width: 50vw;
  height: 100%;
}
#forgot-password p {
  width: 60%;
  font-size: 18px;
  padding: 5% 0px;
}
#forgot-password .verify_email_section span {
  margin-right: 20px;
}
#forgot-password .container_number {
  padding: 0px 0px !important;
  /* margin-right: 20px; */
}
#forgot-password .container_number input[type="number"]:first-of-type {
  /* padding: 0px 0px !important; */
  margin-right: 0px;
}
#forgot-password .col-3 {
  display: flex;
  align-items: center;
  width: 350px;
  display: inline-block;
  margin-right: 0px;
}
#forgot-password button {
  margin-right: 50px;
  display: inline-block;
}

#forgot-password .container_number {
  display: inline-block;
  margin-bottom: 68px;
}
#forgot-password .container_password_input .col-3:last-child {
margin-right: 50px;
}
#forgot-password .footer_form {
  justify-content:stretch;
  margin-right: 0px;
}
#forgot-password .footer_form button {
  margin-right: 0px;
}
#forgot-password .footer_form a {
  margin-right: 400px;
}

/* disabled div class */
.disabled_div button:disabled{
  /* filter: grayscale(1); */
  color: rgba(96, 94, 92, 0.5);
  background-color: #F2F5F7;
  cursor: default;
}
.disabled_div span{
  /* filter: grayscale(1); */
  color: rgba(211, 213, 226, 1);

}
.disabled_div input[type="number"]:disabled{
  cursor: default !important;
  background: rgba(242, 245, 247, 1);
}

