@import url(./fonts.css);

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: IranYekan;
  
  direction: rtl;
  cursor: default;
}

/* HIDE LABEL IN THE BACK INPUT */
input:not(:placeholder-shown){
  background-color: #ffffff !important;
  -webkit-box-shadow: 0 0 0 30px rgb(255, 255, 255) inset !important;
}

/* REMOVE INPUT AUTO CHANGE BACKGROUND WITH AUTOFILL */
@-webkit-keyframes autofill{
  0%,100% {
    color: #666;
    background-color: #001f43;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  background: rgb(0, 0, 0) !important;
  -webkit-animation-name: autofill;
  -webkit-box-shadow: 0 0 0 30px rgb(255, 255, 255) inset !important;
}
input::-webkit-auto{

}
input::-webkit-textfield-decoration-container{
  background-color: #ffffff !important;

}
a {
  text-decoration: none;
  color: #063468;
  cursor: pointer;
}


/* DEFAULT BTN STYLE*/
.btn-style {
  width: 170px;
  height: 50px;
  background-color: rgba(10, 101, 205, 1);
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  display: flex;
    align-items: center;
    justify-content: center;
}

/* DEFAULT FOCUS INPUT STYLE */
input:focus {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px !important;
}

/* DEFAULT INPUT STYLE*/
input[type="text"] {
  /* font: 15px/24px "Lato", Arial, sans-serif; */
  width: 100%;
  /* height: 150px; */
  height: 100%;
  box-sizing: border-box;
  /* letter-spacing: 1px; */
  z-index: 2;
  border-radius: 3px;
  font-size: 1.4em;
  /* font-size: 20px; */
  padding: 10px 15px;
  cursor:text;
  font-family: IranYekan;
  /* background-color: white; */
  /* background: green; */
  /* -webkit-text-fill-color:black; */
  /* -webkit-background-clip: rgba(175, 77, 77, 0.795); */
}

/* DEFAULT DISABLED ELEMENT STYLE */
button:disabled{
  color: rgba(96, 94, 92, 0.5) !important;
  background-color: #F2F5F7 !important;
  cursor: default !important;
}
input:disabled{
  cursor: default !important;
  background: rgba(242, 245, 247, 1);
}

/* REMOVE INCREMENT DECREMENT INPUT NUMBER */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}




body {
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 100vh;
  background-size: 100%;
  background-image: url(../images/background_color/blue_shadow1.svg);
}


/* NAV MENU IN HEAD */
#nav-option-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  padding: 0px 7vw;
}
.container_nav_logo {
  display: flex;
  justify-content: space-around;
}
.container_nav_logo div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 3vw;
}
.container_nav_logo .logo_nav:first {
  padding: none !important;
}
.logo_nav {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 6px;
  background-repeat: no-repeat;
}

/* svg log nav option */
.option_segmento_logo {
  background-image: url(../images/nav/option_segmento.svg);
}
.course_video_logo {
  background-image: url(../images/nav/course_video.svg);
}
.diamond_price_logo {
  background-image: url(../images/nav/diamond_price.svg);
}
.cookie_communicate_logo {
  background-image: url(../images/nav/cookie_communicate.svg);
}



/* MAIN FORM SECTION */
#main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 85vh;
  width: 100vw;
  padding: 0px 7vw;
}

/* picture form */
#side-picture-form {
  text-align: center;
}
#side-picture-form p {
  padding: 20px 0px;
}

/* picture form login */
.picture_form_login{
  width: 537px;
  height: 531px;

}
.picture_form_login img:first-child{
height: 20%;
float: right;
animation: animation_rotate_sun 2s ease-in-out infinite alternate;
}
.picture_form_login img:last-child{
  width: 100%;
  height: 80%;

}
.picture_form {
  width: 537px;
  height: 531px;
}

/* sun animation */
@keyframes animation_rotate_sun {
  0%   {transform: rotate(0deg);}
  100% {transform: rotate(15deg);}
}


/* picture partner companies picture form */
.partner_companies_picture {
  padding: 0px 10px;
  width: 105.06px;
  height: 71.84px;
}

/* FORM REGISTER*/
#register-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15vh 0px;
  width: 40vw;
}

.col-3 {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 40px;
  position: relative;
  background-color: white;
}
.effect-22 {
  border: 0;
  padding: 7px 15px;
  position: relative;
  background: transparent;
  font-size: 1rem;
  color: #001f43;
}
.effect-22 ~ .focus-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: transparent;
  transition: 0.4s;
  z-index: -1;
}
.effect-22:focus ~ .focus-bg,
.has-content.effect-22 ~ .focus-bg {
  transition: 0.4s;
  width: 100%;
  background-color: #ededed;
}
.effect-22 ~ label {
  position: absolute;
  right: 14px;
  width: 100%;
  top: 14px;
  transition: 0.3s;
  z-index: 1;
  letter-spacing: 0.5px;
  font-size: 1em;
  font-weight: 400;
}
.effect-22:focus ~ label,
.has-content.effect-22 ~ label {
  top: -30px;
  right: 5;
  font-size: 0.9em;
  transition: 0.3s;
}

#register-form .container_password_input {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#register-form .container_password_input div {
  width: 35% !important;
}


/* btn form acount*/
.footer_form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn_acount_form {
  width: 140px;
  height: 40px;
  /* font-size: 14px; */
  font-size: 0.9rem;
  border: none;
  border-radius: 9px;
  cursor: pointer;
}
.btn_register {
  box-sizing: content-box;
  color: white;
  background-color: #0a65cd;
}
.btn_login_google {
  text-align: right;
  color: black;
  border: 1px solid #0a65cd;
  background-image: url(../images/picture_form/google_logo.svg);
  background-repeat: no-repeat;
  background-position: 10% center;
  padding: 0px 10px;
  box-sizing: border-box;
  margin-right: 20px;
}

.footer_form a,
#verify-form a {
  color: #001f43;
  text-decoration: underline;
  text-underline-position: under;
}

/* VERIFY EMAIL FORM */
#verify-form {
  position: relative;
  text-align: center;
  width: 100vw;
  padding: 0px 20vw;
  height: 100%;
}
#verify-form p {
  font-size: 18px;
  padding: 10vh 0px;
}
#verify-form .verify_email_section {
  box-sizing: content-box;
}
#verify-form .verify_email_section span {
  font-size: 14px;
}
.container_number {
  padding: 25px 0px;
}
.container_number input[type="tel"] {
  text-align: center;
  height: 70px;
  width: 70px;
  margin: 0px 10px;
  border: none;
  font-size: 30px;
  padding: 5px;
  border-radius: 3px;
  cursor: text;

}

#verify-form .verify_email_section div:last-of-type {
  position: relative;
  width: 100%;
  text-align: center;
}
#verify-form .verify_email_section button {
  width: 170px;
  height: 50px;
  margin: auto;
  clear: left;
}
#verify-form .verify_email_section a {
  position: absolute;
  top: 0px;
  left: 50px;
}
#verify-form .footer_icon_suport {
  position: absolute;
  width: 46vw;
  bottom: 30px;
}
#verify-form .footer_icon_suport img {
  width: 27px;
  height: 27px;
  margin: 5px;
}


/* FORGOT PASSWORD FORM */
#forgot-password {
  width: 50vw;
  height: 100%;
}
#forgot-password p {
  width: 60%;
  font-size: 18px;
  padding: 5% 0px;
}
#forgot-password .verify_email_section span {
  margin-right: 20px;
}
#forgot-password .disabled_label_style{
  color: #A9AAA9;
}
#forgot-password .disabled_span_style{
  color: rgba(211, 213, 226, 1);
}
.input-validator-container{
  position: relative;
}
.span_validator{
  color: #ff3434e6;
  position: absolute;
  bottom: -20px;
  right: 0px;
  font-size: 0.8rem;
}
#forgot-password .container_number input[type="tel"]:first-of-type {
  margin-right: 0px;
}
#forgot-password .col-3 {
  display: flex;
  align-items: center;
  width: 350px;
  display: inline-block;
  margin-right: 0px;
}
#forgot-password button {
  margin-right: 50px;
  display: inline-block;
}

#forgot-password .container_number {
  padding: 0px 0px !important;
  display: inline-block;
  margin-bottom: 68px;
}
#forgot-password .container_password_input .col-3:last-child {
margin-right: 50px;
}
#forgot-password .footer_form {
  justify-content:stretch;
  margin-right: 0px;
}
#forgot-password .footer_form button {
  margin-right: 0px;
}
#forgot-password .footer_form a {
  margin-right: 400px;
}

#forgot-password .effect-22 ~ label {
  top: -30px;
  right: 5;
  font-size: 14px;
}
#forgot-password .complete_btn_section {
background-color: #0AC7E2;
}


#page-404{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  text-align: center;
}
#page-404 img{
  width: 400px;
  height: 400px;
  opacity: 0.9;
  border-radius: 50px;
}
#page-404 p{
padding: 20px;
}


/* BASIC RESPONSE FOR LAPTOP */
@media screen and (max-width:1510px) {
  #forgot-password .col-3 {
    width: 300px !important;
  }
  #forgot-password .footer_form a {
    margin-right: 300px;
  }
  #forgot-password .container_number input[type="tel"] {
    height: 65px;
    width: 65px;
    margin: 0px 6px;
  }
}
